body {
  margin: 0;
}

.container-main {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.control-panel {
  z-index: 9999999;
  border-bottom: 1px solid;
}

.control-panel-buttons {
  display: flex;
  padding: 8px 15px;
}

button {
  margin-right: 20px;
  cursor: pointer;
}

.control-panel-status {
  padding: 8px 15px;
  font-size: 14px;
}

.guider-boundary {
  position: relative;
  flex-grow: 1;
  font-size: 12px;
}

.target {
  width: 200px;
  height: 150px;
  padding: 8px;
}

.container-static {
  display: flex;
  justify-content: space-between;
  padding: 8px 15px;
  background-color: rgba(255, 0, 0, 0.1);
}

.target-1 {
  background-color: rgba(255, 0, 0, 0.3);
}

.target-2 {
  background-color: rgba(255, 128, 0, 0.3);
}

.target-3 {
  background-color: rgba(255, 0, 128, 0.3);
}

.container-relative {
  display: flex;
  padding: 8px 15px;
  background-color: rgba(0, 255, 0, 0.1);
}

.target-4 {
  position: relative;
  left: 10px;
  background-color: rgba(0, 255, 0, 0.3);
}

.target-5 {
  position: relative;
  left: 250px;
  z-index: 20;
  background-color: rgba(128, 255, 0, 0.3);
}

.target-5-1 {
  background-color: rgba(192, 255, 0, 0.3);
}

.target-6 {
  position: relative;
  left: 500px;
  background-color: rgba(0, 255, 128, 0.3);
}

.target-6-1 {
  margin: 4px;
  padding: 4px;
}
